<h1>Signup!</h1>
<%= form_tag 'users', method: :post do %>
  <div>
    <%= label_tag "Hanlde" %>
    <%= text_field "handle" %>
  </div>
  <div>
    <%= label_tag "Email" %>
    <%= text_field "email" %>
  </div>
  <div>
    <%= label_tag "Name" %>
    <%= text_field "handle", "Handle" %>
  </div>
  <div>
    <%= label_tag "Name" %>
    <%= text_field "handle", "Handle" %>
  </div>
<% end %>
